
<div class="card">


  <div class="card-body position-relative">
    <!-- <h6 class="card-title">
      {{ item.title }}
    </h6> -->

    {% if item.collection == 'posts' %}
      <h7 class="card-subtitle">{{ item.date | date: '%B %d, %Y' }}</h7>
    {% endif %}

    <div class="card-text">
      {% if item.description %}
        {{ item.description | markdownify | strip_html | truncatewords: 20 }}
      {% else %}
        {{ item.excerpt | strip_html | truncatewords: 20 }}
      {% endif %}
    </div>
  </div>

</div>
