// Team members

.team-member {
  margin-bottom: $grid-gutter-width;
  margin-right: 1.5rem;
  margin-left: 1.5rem;
  display: inline-block;
  text-align: center;

  // Image container
  .flex-shrink-0 {
    width: 100px;
    
    img {
      height: auto;
      width: 100%;
      border: 3px solid $gray-200;
      border-radius: 100px;
    }
  }

  .orcid {
    height: 16px;
    width: 16px;
    margin-top: -3px;
  }
  .member-container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
}




