---
layout: base
description: Template for homepage.
remark: See also page.layout == 'home' in head.html and header.html.
---

{% if site.tweets_on_home and site.social.twitter %}
  {% assign two_col = true %}
{% endif %}
<!-- <div class="petite-intro">
  <p>
    Hey there!<span class="wave">👋</span>
  </p>
  We are the DONUTS!
</div> -->
<img class="huge-logo" style="z-index: 1000;" src="/assets/theme/images/logo.png">
<div class="row">
  <div class="{% if two_col %}col{% else %}col-md-10 col-lg-8 mx-auto{% endif %}">
    <div class="row">
      <div class="col">

        {{ content }}

      </div>

      {% if two_col %}
    
      {% if page.news and site.data[page.news] %}
        {% assign news = site.data[page.news] %}
      {% elsif site.data.news %}
        {% assign news = site.data.news %}
      {% endif %}
      {% if site.posts_on_home > 0 %}
        

      <div class="col-lg-4 cards" style="margin-top:30px">
        <h2 style="display:inline">NEWS</h2>
        {% for item in news limit:site.posts_on_home %}
          <!-- <div class="col-md-4  col-lg-4"> -->
            {% include card.html %}
          <!-- </div> -->
        {% endfor %}
      </div>
      {% endif %}
      </div>
    {% endif %}
      <!-- {% if two_col %}
        <div class="col-lg-4">
          <a class="twitter-timeline" data-height="500" data-link-color="{{ site.colors.links }}" href="https://twitter.com/{{ site.social.twitter }}?ref_src=twsrc%5Etfw">
            Tweets by {{ site.social.twitter }}
          </a>
          <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
        </div>
      {% endif %}  -->
      
    
    
    
   
</div>
